html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
  }
  
  svg {
    width: 100%;
    height: 100%;
    background-color: rgb(25, 20, 20); 
  }
  
  .node {
    fill: rgb(30, 215, 96); 
    cursor: grab; 
    filter: drop-shadow(0 0 0.75rem rgb(21, 123, 56));
  }
  
  .node:active {
    cursor: grabbing;
  }
  
  #central-node {
    fill: rgb(30, 215, 96); 
  }
  
  .line {
    stroke: white; 
    stroke-width: 2; 
  }
  
  .node-text {
    fill: white; /* Or any color that is visible on your background */
    font-size: 12px; /* Adjust as needed */
    text-anchor: middle; /* Centers text horizontally on the circle */
    pointer-events: none; /* Ensures the text doesn't interfere with click events on the node */
}

