@font-face {
  font-family: 'Rubik'; 
  src: url('rubik.ttf') format('truetype');
} 
div {
  font-family:'rubik', sans-serif;
}


h3 {
  font-family:'rubik', sans-serif;
  }

h1 {
  font-family:'rubik', sans-serif;
  color:white;
  text-align: center;

}
  
  html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  }
  
  img {
  border-radius: 50%;
  }
  
  svg {
  width: 100%;
  height: 100%;
  background-color: rgb(25, 20, 20);
  }
  
  .node {
  fill: rgb(30, 215, 96);
  cursor: grab;
  --hover-color: rgb(30, 215, 96); 
  }
  
  .node:hover {
    filter: drop-shadow(0 0 0.75rem var(--hover-color));
  }

  #central-node:hover {
    filter:none;
    cursor:default;
} 
  
  .node:active {
  cursor: grabbing;
  }
  
  
  .line {
  stroke: white;
  stroke-width: 2;
  }
  
  .node-text {
  fill: white;
  font-size: 20px;
  text-anchor: middle;
  pointer-events: none;
  font-family:'rubik', sans-serif;
  }
  
  .side-bar {
    background-color: rgb(30, 215, 96);
    position: fixed; 
    top: 0;
    right: 0; 
    width: 365px; 
    max-height: 100vh;
    overflow-y: auto; 
    transform: translateX(100%);
    transition: transform 0.3s ease; 
    padding-left: 3%;
  }
  
  
  .side-bar.slide-in {
    transform: translateX(0); 
  }
  
  
  .menu {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 752px;
  height: 400px;
  background-color: rgb(25, 20, 20);
  border: solid;
  border-width: 2px;
  border-radius: 20px;
  border-color: rgb(30, 215, 96);
  transition: opacity 0.3s, visibility 0.2s;
  }
  
  .menu.visible {
  opacity: 1;
  visibility: visible;
  }
  
  .question-mark-space {
  position: fixed;
  opacity:100%;
  top: 95%;
  left:1%;
  transition:0.5s;
  }
  
  .question-mark {
  width:30px;
  height:30px;
  }
  
  .question-mark-space:hover {
  cursor:pointer;
  }


  .playlist-space {
    position: fixed;
    opacity:100%;
    top: 95%;
    left:4%;
    transition:0.5s;
    }

    .playlist-button{
      width:30px;
      height:30px;
      }

    .playlist-space:hover {
      cursor:pointer;
    }

    #playlistNameInput {
      margin-bottom: 1rem;
    }

  .context-menu {
    z-index: 1000;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 8px #aaa;
    padding: 5px;
    z-index: 1000;
    border-radius:30px;
  }
  
  .context-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius:30px;
  }
  
  .context-menu ul li {
    padding: 8px 12px;
    cursor: pointer;
    border-radius:30px;
  }
  
  .context-menu ul li:hover {
    background-color: #e0e0e0;
  }

  .song-item {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.album-art {
    width: 45px; 
    height: 45px; 
    object-fit: cover; 
}

.song-item p {
    margin: 0; 
}


#songList {
  margin-top: 1rem; 
}

.user-space {
  position: fixed;
  opacity:100%;
  top: 95%;
  left:7%;
  transition:0.5s;
}

.user {
  width:30px;
  height:30px;
  }

  .user:hover {
    cursor:pointer;
  }

  .user-menu {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 752px;
    height: 400px;
    background-color: rgb(25, 20, 20);
    border: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: rgb(30, 215, 96);
    transition: opacity 0.3s, visibility 0.2s;
    }
    
    .user-menu.visible {
    opacity: 1;
    visibility: visible;
    }

