@font-face {
  font-family: 'Rubik'; 
  src: url('rubik.ttf') format('truetype');
} 
div {
  font-family:'rubik', sans-serif;
}


h3 {
  font-family:'rubik', sans-serif;
  }

h1 {
  font-family:'rubik', sans-serif;
  color:white;
  text-align: center;

}
  
  html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  }
  
  img {
  border-radius: 50%;
  }
  
  svg {
  width: 100%;
  height: 100%;
  background-color: rgb(25, 20, 20);
  z-index: 5;
  }
  
  .node {
  fill: rgb(30, 215, 96);
  cursor: grab;
  --hover-color: rgb(30, 215, 96); 
  }
  
  .node:hover {
    filter: drop-shadow(0 0 0.75rem var(--hover-color));
  }

  #central-node:hover {
    filter:none;
    cursor:default;
} 
  
  .node:active {
  cursor: grabbing;
  }
  
  
  .line {
  stroke: white;
  stroke-width: 2;
  }
  
  .node-text {
  fill: white;
  font-size: 20px;
  text-anchor: middle;
  pointer-events: none;
  font-family:'rubik', sans-serif;
  }
  
  

  
  .question-mark-space {
    opacity:100%;
  }
  


  .playlist-space {
    opacity:100%;
    }

    #playlistNameInput {
      margin-bottom: 1rem;
    }

  .context-menu {
    z-index: 1000;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 8px #aaa;
    padding: 5px;
    z-index: 1000;
    border-radius:30px;
  }
  
  .context-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius:30px;
  }
  
  .context-menu ul li {
    padding: 8px 12px;
    cursor: pointer;
    border-radius:30px;
  }
  
  .context-menu ul li:hover {
    background-color: #e0e0e0;
  }

  .song-item {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.album-art {
    width: 45px; 
    height: 45px; 
    object-fit: cover; 
}

.song-item p {
    margin: 0; 
}


.user-space {
  opacity:100%;
}


      .artist-space {
        opacity:100%;
      }
   

      .container {
        position: fixed; /* Changed from relative to fixed */
        width: 100%;
        bottom: 0; /* Align to the bottom */
        left: 0; /* Align to the left */
        display: flex;
        justify-content: center;
        z-index: 10; /* Ensure this is above other content but below modal dialogs or popups */
      }
      
      
      nav {
        background: #f9f9f9;
        border-radius: 50px;
        padding: 8px 15px; /* Adjust padding as needed */
        box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        display: flex; /* Use flex to center the ul */
        justify-content: center; /* Center ul horizontally */
      }
      
      nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex; /* Use flexbox for horizontal alignment */
        align-items: center; /* Align items vertically */
        justify-content: center; /* Center items horizontally */
      }
      
      nav ul li {
        padding: 5px 10px; /* Adjust padding as needed */
        font-size: 14px; /* Adjust font size as needed */
        font-weight: 500;
        color: rgb(25, 20, 20);
        cursor: pointer;
        line-height: 1.5; /* Match the line height to the height of your nav items if needed */
        position:relative;
        z-index:2;
        transition: color 0.5s;
      }
      
    nav ul li::after {
      content: '';
      background:rgb(30, 215, 96);
      width: 100%;
      height:100%;
      border-radius: 30px;
      position:absolute;
      top:100%;
      left:50%;
      transform:translate(-50%, -50%);
      z-index:-1;
      opacity:0;
      transition:  top 0.5s, opacity 0.5s;
    }

    nav ul li:hover {
      color: #f9f9f9;
    }

    nav ul li:hover::after {
      top: 50%;
      opacity: 1;
    }


    .glass {
      position:absolute;
      width: 800px;
      height:400px;
      background: rgba(255, 255, 255, .1);
      opacity: 0;
      visibility: hidden;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50px;
      transition: opacity 0.3s, visibility 0.2s;
      box-shadow:0 25px 45px rgba(0, 0, 0, .2);
      border: 2px solid rgba(255, 255, 255, .2);
      backdrop-filter:blur(10px);

    }

    .glass.visible {
      opacity: 1;
      visibility: visible;
      }

      .glass#side-bar {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        color: white; 
      }
      
      #playlistContainer {
        width: 100%; 
        height: calc(100% - 60px); 
        overflow-y: auto; 
        padding: 20px; 
      }
      
      #playlistContainer h1 {
        margin-top: 20px; 
        align-self: flex-start; 
      }
      
      #playlistContainer input, 
      #playlistContainer button {
        margin: 10px auto; 
        display: block; 
        width: fit-content; 
      }
      
      #songList {
        width: 100%; 
        overflow-y: auto; 
        padding-left: 20px;
      }
      
      .song-item {
        padding: 5px 0;
      }
      
      
      
      
